adium-theme-ubuntu==0.3.4
backports.weakref==1.0.post1
bleach==1.5.0
enum34==1.1.6
funcsigs==1.0.2
futures==3.1.1
html5lib==0.9999999
Markdown==2.6.9
mock==2.0.0
numpy==1.13.3
pbr==3.1.1
protobuf==3.4.0
shadowsocks==2.8.2
six==1.11.0
stevedore==1.27.1
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc2
unity-lens-photos==1.0
vboxapi==1.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
Werkzeug==0.12.2
youtube-dl==2016.2.22
